* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
}

header {
    background-color: #c19371;
}

a {
    color: #000;
}

nav a{
    font-size: 1.2em;
    text-decoration: none;
    position: relative;
}

nav .right {
    float: right;
}

nav .right a {
    margin-right: 50px;
}

nav .right a:last-child {
    margin-right: 8px;
}

.menuItems {
    text-align: right;
    background: #c19371;
    top: 2em;
    z-index: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.menuItemsShow {
    max-height: 2.1em;
    transition: max-height .5s;
}

.menuItems a{
    text-decoration: none;
    margin-left: 50px;
    font-size: 1.2em;
    display: inline;
}

body {
    background-color: #70ecb4;
}

.about {
    margin-top: 2%;
    position: relative;
    background: #70ecb4 url("imgs/coffeeshop.jpeg") no-repeat center/cover;
    border-radius: 10px;
    height: 5em;
    box-shadow: 0 0 10px 0 #000;
}

.about div {
    margin: 0 0 10px 10px;
    color: #fff;
    position: absolute;
    bottom: 0;
}

.about a {
    color: #FFF;
}

li {
    list-style: none;
    border-radius: 10px;
    margin-bottom: 2%;
}

.orderItem p {
    margin: 0;
}

.coffeeImg, .cakeImg {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coffee, .cake, .specials {
    position: relative;
    background: #FFF;
    border-radius: 10px;
}

.coffee button, .checkout button, .cake Button {
    font-size: 1.2em;
    width: 100%;
    background-color: #a8c5c1;
    border-style: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

#close {
    border-radius: 10px;
    background-color: #f96161;
    width: auto;
}

.coffee p, .cake p {
    padding-left: 10px;
}

.special p {
    text-align: center;
}

.badge {
    position: absolute;
    right: 0;
    font-size: 1em;
    background-color:#eec674;
    padding: 0 10px;
    border-radius: 10px;
}

a .badge {
    right: -10px;
    font-size: .5em;
    padding: 2px;
    border-radius: 50px;
    border: 3px solid #c19371;
    text-align: center;
}

.ourStore img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
}

.container {
    width: 90%;
    margin: auto;
}

.specials {
    width: 100%;
}

footer {
    background-color: #c19371;
    margin: 0;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    padding: 10px;
}

h3 {
    padding: 0 0 0 10px;
}

.order li {
    width: 100%;   
}

.checkout {
    background-color: #FFF;
    border-radius: 10px;
}

.checkout .removeAll {
    border-radius: 0;
    background-color: #f96161;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#completeOrderWindow {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.nodisplay {
    display: none;
}

#completeOrderWindow div {
    position: fixed;
    width: 80%;
    top: 10%;
    left: 10%;
}

#completeOrderWindow div input {
    position: relative;
    width: 80%;
    margin-left: 10%;
    font-size: 1em;
    height: 2em;
    border-radius: 10px;
    border: 2px solid #a8c5c1;
}

#completeOrderWindow div select {
    font-size: 1em;
    height: 2em;
    border-radius: 10px;
    border: 2px solid #a8c5c1;
}

.month {
    margin-left: 10%;
    width: 50%;
}

.year {
    margin-left: 0;
    width: 30%;
}

#completeOrderWindow div h3 {
    margin: 2% 10%;
    padding: 0;
}

.cardType {
    position: absolute;
    color: #c4c4c4;
    font-size: 1em;
    margin: .45em 0;
    right: 10%;
    border-radius: 8px;
    padding: 0 2px;
    border: 2px solid #c4c4c4;
    z-index: 3;
}

.remove img, .add img{
    pointer-events: none;
    margin-right: 5px;
    height: .7em;
}

@media screen and (min-width: 768px) {
    nav a {
        font-size: 2em;
    }

    .menuItems a {
        font-size: 2em;
    }

    .about address, .about a {
        font-size: 2em;
    }

    nav img {
        height: .8em;
    }

    .container {
        width: 80%;
        margin: auto;
    }

    .about {
        height: 10em;
    }

    li {
        width: 32.3%;
    }

    .coffee:hover, .cake:hover {
        box-shadow: 0 0 10px 0 #000;
    }

    .ourStore img {
        width: 40%;
        float: right;
        margin-left: 10px; 
    }

    .ourStore p {
        margin: 0 0 10px;
    }

    .specials {
        width: 24%;
    }

    a .badge {
        right: -10px;
        bottom: .25em;
    }

    .orders {
        width: 66.6%;
        justify-content: space-between;
    }

    .orders li {
        width: 49%;
    }

    .checkout {
        margin-top: 59.44px;
        float: right;
        width: 32.3%;
    }

    #completeOrderWindow div {
        width: 30%;
        left: 30%;
    }

    .close:hover {
        content: "X close";
    }
}

@media screen and (min-width: 1500px) {
    li {
        width: 19%;
    }

    .orders li {
        width: 32.3%;
    }
}