.bag {
  position: relative;
  padding: 2rem 0;

  @media screen and (min-width: 510px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  & ul {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 2rem;

    @media screen and (min-width: 510px) {
      flex-grow: 1;
      margin-right: 2rem;
    }

    & hr {
      border-top: none;
      border-bottom: 1px solid var(--orange);

      &:last-child {
        display: none;
      }
    }
  }

  & .checkOut {
    padding: 10px;
    background: radial-gradient(ellipse at top right, #e79a57 10%, var(--orange) 90%);
    border-radius: 10px;
    position: sticky;
    width: 100%;
    bottom: 0;

    @media screen and (min-width: 510px) {
      width: 350px;
    }

    & .location {
      margin-bottom: var(--spacing);
    }

    & span,
    & address {
      display: block;
      color: #333333;
    }

    & .checkOutButton {
      margin-top: 10px;
      width: 100%;
      font-size: 20px;
      background: white;
    }

    & .price,
    & .storeName {
      display: block;
      font-weight: bold;
      font-size: 2em;
      color: #000;
    }

    & .storeSelection {
      & .storeName {
        position: relative;
        z-index: 2;
        background: transparent;
        padding: 0;
        display: flex;
        align-items: center;

        & img {
          width: 14px;
          margin-left: var(--s-spacing);
        }
      }

      & .store {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
        text-align: left;
      }

      & .storeOptions {
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        overflow: scroll;
        background: white;
        padding: calc(2rem + 20px) 10px 10px;
        border-radius: var(--round);

        & button {
          background: inherit;
          padding: 10px 0;
          display: block;
          width: 100%;
          &:hover {
            background: var(--white);
          }
        }
      }
    }
  }
}
