.bagItem {
  display: flex;
  align-items: center;
  padding: var(--spacing) 0;
  border-bottom: 2px solid var(--orange);

  &:last-child {
    border: none;
  }

  & .photo {
    height: 80px;
    width: 80px;
    margin-right: var(--spacing);
    border-radius: 50%;
    border: 2px solid var(--orange);
  }

  & .title {
    flex-grow: 1;
  }

  & input {
    width: 6ch;
    border: none;
    outline: none;
    padding: var(--xs-spacing);
    border-radius: var(--round);
    margin-left: var(--xs-spacing);
    background: var(--white);
    font-size: 1em;
  }

  & button {
    background: none;

    & img {
      height: 1.6rem;
      width: 1.6rem;
    }
  }
}
