.bagItem {
    display: flex;
    align-items: center;
    padding: 10px 0;

    &:last-child {
        // margin: 0;
        background: red;
    }

    & .photo {
        height: 60px;
        width: 60px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid var(--orange);
    }

    & .title {
        flex-grow: 1;
    }

    & input {
        width: 6ch;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 10px;
        margin-left: 5px;
        background: var(--white);
    }

    & button {
        background: none;
        & img {
            height: 16px;
            width: 16px;
        }
    }
}
