.drinks {
  margin: var(--l-spacing) 0;

  & h1 {
    font-size: 5em;
    margin: 0 0 var(--l-spacing);
    font-weight: 600;
  }

  & .itemGrid {
    display: grid;
    grid-gap: var(--l-spacing) var(--spacing);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    & .itemCard {
      display: flex;
      flex-direction: column;
      border-radius: var(--round);
      position: relative;
      padding: 75px var(--spacing) var(--spacing);
      margin-top: 75px;
      background: white;
      border: 2px solid var(--orange);

      & .photo {
        height: 150px;
        width: 150px;
        top: -75px;
        left: calc(50% - 75px);
        position: absolute;
        border-radius: 50%;
        border: 2px solid var(--orange);
        object-fit: cover;
        background: var(--orange);
      }

      & h2 {
        margin: var(--spacing) 0 0 0;
        font-size: 2em;
        text-align: center;

        & .badge {
          color: var(--orange);
        }
      }

      .price {
        font-size: 1.4em;
        // font-weight: normal;
        margin: var(--s-spacing) 0 var(--spacing);
        text-align: center;
        flex-grow: 1;
      }

      .buttonGroup {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        justify-content: space-between;
        border-radius: var(--round);

        & button {
          // display: flex;
          // justify-content: center;
          // flex-grow: 1;
          width: calc(50% - 1px);
          border-radius: 0;
        }
      }
    }
  }
}
