@import 'index.scss';
@import 'drinks.scss';
@import 'item.scss';
@import 'nav.scss';
@import 'bag.scss';
@import 'bagItem.scss';
@import 'stores.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #f7f7f7;
  --teal: #48a386;
  --blue: #7794ca;
  --orange: #e18335;

  --xs-spacing: 5px;
  --s-spacing: 10px;
  --spacing: 20px;
  --l-spacing: 40px;
  --xl-spacing: 80px;

  --round: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--white);
}

button {
  background: var(--orange);
  border: none;
  border-radius: var(--round);
  cursor: pointer;
  padding: var(--xs-spacing) var(--s-spacing);
  font-size: 1.6em;
  outline: none;
  &:active {
    background: #c4722f;
  }
}

ul {
  padding: 0;
  & li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  padding: 0;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 var(--l-spacing);
}

// ! temp


