.jumbotron {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);

    & .block {
        background: lightblue;
        height: 450px;
    }

    // & .block:nth-child(1) {
    //     grid-column-start: 1;
    //     grid-column-end: 3;
    // }
}

.favs {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);

    & .block {
        background: lightblue;
        height: 250px;
    }

    @media screen and (min-width: 720px) {
    }
}