@import "items.scss";

* {
    box-sizing: border-box;
}

:root {
    --white: #ececec;
    --teal: #b8e0d2;
    --blue: #809bce;
    --orange: #e18335;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
}

body {
    background: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 5%;
}