.jumbotron {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    & .block {
        background: lightblue;
        height: 450px;
    }

    & .block:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.favs {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    & .block {
        background: lightblue;
        height: 250px;
    }
}