nav {
    padding: 15px 0;
    box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    background: var(--white);
    z-index: 2;

    & .container {
        display: flex;
        flex-direction: row;
        
        & a {
            margin-right: 48px;
            font-size: 20px;
            font-weight: 500;
        }
        
        & .right-menu {
            margin-left: auto;
            & a:last-child {
                margin-right: 0;
            }
        }
    }
}