.stores {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;

  & h1 {
    font-size: 2.4rem;
  }

  & button {
    font-size: 1.6rem;
  }

  & .address {
    margin: var(--s-spacing) 0;
  }
}
