.submit {
  margin-top: var(--spacing);

  & label,
  & input {
  }

  & .card {
    display: flex;
    flex-wrap: wrap;

    & .cardNumber {
      flex-grow: 1;
      position: relative;

      & .cardType {
        position: absolute;
        right: var(--s-spacing);
        bottom: var(--spacing);
        font-size: 1rem;
        border: 1px grey solid;
        border-radius: 5px;
        padding: 0.2em var(--xs-spacing);
      }
    }

    & .info {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;

      & .cvv,
      & .expiration {
        width: calc(50% - 2px);
      }
    }
  }

  & .format {
    display: inline !important;
    font-size: 1rem;
  }

  & input {
    display: block;
    width: 100%;
    border-radius: var(--round);
    border: none;
    padding: var(--s-spacing);
    font-size: 1.6rem;
    outline: none;
    margin: var(--xs-spacing) 0 var(--s-spacing);
  }

  & .error,
  & .disclaimer {
    color: black !important;
    font-weight: bold;
    text-align: center;
  }

  & .disclaimer:first-of-type {
    margin-top: 10px;
  }

  & .loadingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & span {
      color: white !important;
      font-size: 1.2em;
      font-weight: bold;
    }

    & .loadingImg {
      width: 80px;
      height: 80px;
      animation: rotate 1s linear infinite;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}
